*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Caput_Draconis/release/Caput_Draconis-release.aab
google-services.json
Caput_Draconis/GoogleService-Info.plist
Caput_Draconis/GoogleService-Info.plist
Caput_Draconis/Caput_Draconis.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
